body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    background-color: whitesmoke;
    color: darkslategray;
    font-family: Georgia, serif;
    margin: 0;
}

header {
    grid-area: header;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: white;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: darkslategray;
    padding: 10px;
}
nav a:hover {
    background-color: lightblue;
}

main {
    grid-area: main;
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding 20px;
}

img {
    max-width: 100%;
}

.color-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.color-card {
    flex: 1;
    background-color: lightgray;
    padding: 15px;
    min-width: 150px;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: lightblue;
    text-align: center;
    padding: 15px;
}

@media (max-width: 700px) {
    body {
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
        gap: 10px;
    }
    main {
        padding: 40px;
    }
    section {
        margin-bottom: 30px;
    }
}

.soft-blue {
    background-color: lightblue;
}
.sage-green {
    background-color: darkseagreen;
}
.warm-beige {
    background-color: beige;
}